.one-news {
    height: 250px;
    margin: 0;
    background-color: #fff;
}
.list-view .one-news {
    height: 250px;
    margin: 0 0 15px;
    background-color: #fff;
}
.one-news .text-block {
    min-height: 100%;
    height: auto;
    margin: 0 auto -30px;
    padding: 0 0 30px 15px;
}

.one-news .date-block {
    padding-left: 15px;
}
.navbar-pk .navbar-toggle {
    border: 1px solid #fff;
}
.navbar-pk .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media (max-width: 480px){
    .one-news, .list-view .one-news {
        height: 600px;
    }
    .one-news .text-block {
        min-height: 1px;
    }
}