/*calendar on main page begin*/
.event-calendar{
    /*margin-top: 30px;*/
    margin-bottom: 15px;
}
.event-calendar .calendar{
    background-color: #3EB5F1;
    padding: 0;
    height: 170px;
}
.event-calendar .calendar div.title-block{
    padding: 18px 10px;
    width: 40%;
    height: 170px;
    float: left;
}
.event-calendar .calendar div.calendar-block{
    float: left;
    padding: 0;
    min-height: 170px;
}
.event-calendar .calendar .title-block p,
.event-calendar .calendar .title-block a{
    font-size: 14px;
    color: #fff;
}
.event-calendar .calendar .title-block a{
    position: absolute;
    bottom: 10px;
    text-decoration-line: underline;
    cursor: pointer;
}
.event-calendar .event{
    border: 1px solid #ccc;
    background-color: #fff;
    border-left: 0;
    height: 170px;
    /*max-width: 275px;*/
    padding: 17px;
}
.event-calendar .event:first-child{
    border: 1px solid #ccc;
}
.event-calendar .event .event-title{
    font-weight: bold;
    font-size: 16px;
}
.event-calendar .event .event-description{
    max-height: 80px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
.event-calendar .event:hover{
    background-color: #eee;
    cursor: pointer;
}
.event-calendar .event-date{
    margin-bottom: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

.jzdbox1 {
    width: 185px;
    overflow:hidden;
    display:block;
    margin-bottom:10px;
    margin:0 auto;
}

/*.jzdcalt select,*/
.jzdcalt{
    font: 14px 'Roboto';
    text-decoration: underline;
    padding-left: 0;
    color:#f7f3eb;
    display:block;
    margin:18px 0 5px 0;
    text-transform:uppercase;
    text-align:center;
}
.jzdcalt select{
    background-color: inherit;
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.jzdcalt a{
    color: #fff;
}

.jzdcalt select option{
    background-color: #3EB5F1;
    border: 0;
}

.jzdcal span {
    font:11px 'Roboto';
    font-weight:400;
    color:#f7f3eb;
    text-align:center;
    width:20px;
    height:20px;
    margin: 0 3px;
    display:inline-block;
    float:left;
    overflow:hidden;
    line-height: 20px;
}

.jzdcal span a{
    font:11px 'Roboto';
    font-weight:400;
    color:#f7f3eb;
    text-align:center;
    line-height: 20px;
}

.jzdcal .jzdb:before {
    opacity:0.3;
    content:'o';
}

.circle {
    border:1px solid #015994;
    box-sizing:border-box!important;
    background-color: #015994;
    border-radius:200px!important;
    cursor: pointer;
}

span[data-title]:hover:after,
div[data-title]:hover:after {
    font:11px 'Roboto';
    font-weight:400;
    content:attr(data-title);
    position:absolute;
    margin:0 0 100px;
    background:#282423;
    border:1px solid #f7f3eb;
    color:#f7f3eb;
    padding:5px;
    z-index:9999;
    min-width:150px;
    max-width:150px;
}
#event-carousel{
    min-height: 170px;
}
.carousel-control{
    opacity: 0.1;
    width: 5%;
}
.carousel-control span{
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control:hover{
    opacity: 1;
}
@media screen and (max-width: 768px){
    #event-carousel .carousel-control{
        display: none;
    }
}
/*calendar on main page end*/