html,
body {
    height: 100%;
}
.fancybox-active {
     height: 100%;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -201px;
    padding: 0 0 201px;
    background-color: #eeeeee;
}

.navbar-pk {
    background-color: rgb(36, 115, 193);
    color: #fff;
}

.navbar-pk .navbar-nav > li > a,
.navbar-pk .navbar-nav > li button {
    color: #fff;
}

.navbar-pk .navbar-nav > .active > a,
.navbar-pk .navbar-nav > .active > a:hover,
.navbar-pk .navbar-nav > .active > a:focus {
    color: rgb(36, 115, 193);
    background-color: #fff;
}

.navbar-pk .nav > li > a:hover,
.navbar-pk .nav > li > a:focus,
.navbar-pk .nav > li button:hover,
.navbar-pk .nav > li button:focus {
    text-decoration: none;
    color: rgb(36, 115, 193);
    background-color: #fff;
}

.navbar-pk a.navbar-brand {
    color: #fff;
    padding: 0;
    margin: 0 !important;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    border: 1px solid #fff;
}

.wrap > .container {
    padding: 50px 15px 20px;
}

.main-news {
    margin-bottom: 20px;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
}

h1, .h1, .container>h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider-prev, .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    z-index: 9;
    cursor: pointer;
    opacity: 0.1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
}

.disabled .slider-prev, .disabled .slider-next {
    display: none;
}

.slider:hover .slider-prev, .slider:hover .slider-next,
.main-news:hover .slider-prev, .main-news:hover .slider-next {
    opacity: 1;
}

.slider-next {
    right: -25px;
}
.slider-prev {
    left: -25px;
}

.footer {
    min-height: 130px;
    color: #fff;
    background-color: #1665A8;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.footer a {
    color: #fff;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.flag-title {
    position: absolute;
    left: 15px !important;
    z-index: 999;
}

.flag-title {
    position: absolute;
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    padding: 5px 30px 5px 30px;
    margin: 10px 10px 10px -10px;
    background-color: rgba(36, 115, 193, 0.9);
    text-shadow: 0 1px 2px #bbb;
    -webkit-box-shadow: 0 2px 4px #888;
    -moz-box-shadow: 0 2px 4px #888;
    box-shadow: 0 2px 4px #888;
}

.flag-title a {
    color: #fff !important;
}

.flag-title:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 100%;
    border-width: 5px 5px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
}

.main-page-block .panel-body {
    border: 1px solid #eeeeee;
}

.main-page-block .panel {
    border: 0;
    box-shadow: none;
}

.img-block {
    padding: 0;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.img-block img {
    max-width: none;
    min-width: auto;
    min-height: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-pk-footer {
    margin-bottom: 20px;
}

.nav-pk-footer.nav > li > a {
    position: relative;
    display: block;
    padding: 0 15px;
    color: #fff;
}

.nav-pk-footer.nav > li > a:hover, .nav-pk-footer.nav > li > a:focus {
    text-decoration: underline;
    background-color: #1665A8;
}

.social-icon {
    display: block;
    height: 50px;
    width: 50px;
}

.social-icon:hover, .social-icon:focus {
    opacity: 0.8;
}

.social-icon.instagram {
    background-image: url(/images/social-icon/instagram.svg);
}

.social-icon.facebook {
    background-image: url(/images/social-icon/facebook.svg);
}

.social-icon.vk {
    background-image: url(/images/social-icon/vk.svg);
}

.social-icon.viber {
    background-image: url(/images/social-icon/viber.svg);
}

.social-icon.youtube {
    background-image: url(/images/social-icon/youtube.svg);
}

.social-icon.whatsapp {
    background-image: url(/images/social-icon/whatsapp.svg);
}

.social-icon.twitter {
    background-image: url(/images/social-icon/twitter.svg);
}

.red {
    color: red !important;
}

.alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 500px;
    max-width: 600px;
    opacity: 0.8 !important;
    z-index: 9999;
}

.page {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 5px 0 #dbdbdb;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1280px;
    }
}

.slider .slide-mobile {
    display: none;
}

@media (max-width: 480px) {
    .navbar-pk-second {
        margin: 0;
    }

    .slider .slide {
        display: none;
    }

    .slider .slide-mobile {
        display: block;
    }

    /*.breadcrumb li.active {*/
    /*    */
    /*}*/
}
li.dropdown.active .dropdown-menu{
    display: block;
}
.nav-stat .dropdown-menu {
    position: inherit;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.fixed-block {
    position: sticky;
    top: 65px;
}